@font-face {
    font-family: 'Finlandica';
    src: url('./res/font/Finlandica-Medium.ttf') format('truetype');
}

body {
    font-family: 'Finlandica';
    margin: 0;
    background-color: #212028;
    color: white;
	background-repeat: tile;
	background-attachment: fixed;
	background-position: center;
	background-size: 65%;
	image-rendering: pixelated;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./res/img/bg.png);
}

a {
	text-decoration: none;
	color: white;
}




.header {

    padding-top: .2rem;
    padding-bottom: .2rem;
    background-color: #212028;
    /* position: fixed; */
    width: 100%;
    height: auto;
    /* background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)); */

}


.header img {
    width: 6rem;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items:center;
    padding-left: 0;
    padding-top:0;

}

.header li {
    padding-left: 3rem;
    font-size: 3rem;
}


.body {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2b2936;
    padding-bottom: 1rem;
	
}

.body h1 {
    font-size: 4rem;
    padding-left: 2rem;
    background-color: #ff6b97;
}

.body p {
    font-size: 2rem;
    width: 95%;
    margin-left: auto;
}

.showcaseContainer {
    width: 92%;
    margin-left: auto;
    padding-bottom: 2rem;
    padding-right: 2rem;

}

.showcaseContainer h2 {
    font-size: 2.5rem;
}

.showcaseGrid {
    display:grid;
gap: .75rem;
    grid-template-columns: auto auto auto;
}

.showcaseItem {
    /* background-color:black; */
    padding: 3rem 1rem;
    
    font-size: 2rem;
    text-align:center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    backdrop-filter: blur(120px);
     -webkit-transform: scale(1,1);
    -webkit-transition: all 0.1s ease-in-out;
	z-index: 0;
}

.showcaseItem:hover {
    -webkit-transform: scale(1.1,1.1);
    -webkit-transition: all 0.3s ease-in-out;
	z-index: 2;
}

.attractBanner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    margin:0;
    overflow:hidden;
    padding-bottom:1rem;
}



.attractBanner video {
    position: absolute;
    object-fit: fill;
    width:100%;
    z-index: -1;
    filter:brightness(.5);
}

.attractBanner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 1rem;
}

.attractBanner h1 {
    text-align:center;
    font-size: 4rem;
    color: white;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.5);
}


.linkIcons {
    width:25%;
    margin-left: auto;
    margin-right: auto;
}

.linkIcons ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-bottom: 2rem;
    
    /* gap: -225em; */
}

.linkIcons li a img {
    position: relative;
    width: 75%;
    filter: drop-shadow(.4rem  .4rem 1px black)
}

.linkIcons li a img:hover {
    filter: brightness(1) invert(1);
}


.linkIcons li {
    flex:1;
    list-style: none;
}


.footer {
    padding: 3rem;
}


