{% extends "layouts/one_column.html" %}

{% block style %}
    <link rel="stylesheet" href="/style/resources.css">
{% endblock style %}

{% block pre_content %}
    <br> <br>
{% endblock pre_content %}

{% block column %}
<h1 style="margin-bottom: 0;">
    <span style="margin-left: -3rem;">Resources</span>
    <em style="font-size: 1.6rem; color:#641a34; vertical-align: middle;">
        &nbsp; make more games!
    </em>
</h1>

<p class="page-notice">
    <b style="font-size: 2rem;"><u>Have something to add !?</u></b> <br> 
    The following are a bunch of resources members and executives from the club have handpicked.
    If you'd like to add something, please submit it to this 
    <a href="https://forms.gle/your-google-form-link">google form</a>.
</p>

<div class="filter-toggle">
    <button id="toggle-filters">Filter by Tag</button>
    <div id="filter-container">
        <label><input type="checkbox" value="game dev talks">Game Dev Talks</label>
        <label><input type="checkbox" value="videos">Videos</label>
        <label><input type="checkbox" value="free resources">Free Resources</label>
        <label><input type="checkbox" value="art">Art</label>
        <label><input type="checkbox" value="music">Music</label>
        <label><input type="checkbox" value="sfx">SFX</label>
        <label><input type="checkbox" value="shaders">Shaders</label>
    </div>
</div>
<div id="resource-list" class="resources-container">
    <!-- cards -->
</div>
{% endblock content %}

{% block scripts %}
    <script type="module" src="/js/resources.js"></script>
{% endblock scripts %}
