#member-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 2rem;
}

.person {
    width: calc(50% - 4rem);
    background-color: #212028;
    border-radius: 12px;

    padding: 1rem;
}

.person .kind {
    border-radius: 12px;

    font-family: 'Finlandica';

    display: flex;
    margin-bottom: 1rem;

    padding-left: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    font-size: 2rem;

    width: calc(100% - 1.5rem);
    line-height: 3rem;

    background-color: #b0305c;
}

.person .kind .fav-game {
    font-size: 1.3rem;
    color: #641a34;
    margin-left: auto;
    margin-right: 1.5rem;
}

.person .details {
    font-family: 'Finlandica';
    font-size: 1.3rem;

    display: flex;
    margin-bottom: 1rem;
}

.person .details .name {
    color: #7e7e8f;
}

.person p {
    margin: 0;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.person .right {
    margin-left: auto;
    color: #7e7e8f;
}

.person .blurb {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}